.parent{
    height: 60px;
    width: 100%;
    color: white;
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 99;
    background: white;
    border-bottom: 2px solid black;
}

.dark{
    background: black;
    color: white;
}

.navUl{
    float: right;
    margin-right: 20px;
}
.navUl.darkUL{
    background-color: black;
}
.navLi{
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}
.navLi > a{
    color: black;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    padding: 7px 13px;
    text-transform: uppercase;
}

.navLi > a:hover{
    background-color: black;
    color: white;
    transition: .3s;
}

.darkActive > a:hover{
    background-color: rgb(65, 65, 65);
}


.checkbtn{
    color: black;
    font-size: 30px;
    float: right;
    line-height: 70px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
.check{
    display: none;
}

.Logo{
   
    color: black;
    -webkit-text-stroke-color: black;
    font-family: 'AvengersFont';
    font-size: 30px;
    line-height: 60px;
    padding: 0 100px;
}

.Logo.darkLogo{
    color: white;
    -webkit-text-stroke-color: black;
}

.darkActive > a {
    color: white;
}

@media (max-width:952px) {
    .Logo{
        font-size: 30px;
        line-height: 70px;
        padding-left: 50px;
    }
    .navLi > a{
        font-size: 16px;
    }
}

@media (max-width: 858px) {

    .parent{
        height: 70px;
    }

    .checkbtn{
        display: block;
    }
    .navUl{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: white;
        top: 70px;
        left: -100%;
        text-align: center;
        transform: all .5s;
    }
    .navLi{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .active{
        background: transparent;
    }
    
    .navLi > a {
        color: black;
        font-size: 20px;
    }

    .darkIcon{
        color: white;
    }

    .darkActive > a{
        color: white;
    }
   

    .check:checked ~ .navUl{
        left: 0;
        transition: all .6s;
    }
    .check:not(:checked) ~ .navUl {
        left: -100%; /* or any other value to hide the .navUl */
        transition: all .6s;
    }
    
}

