.root{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    box-sizing: border-box;
    padding: 20px;
}

.dark{
    color: white;
    background-color: rgb(32, 31, 31);
}

.company{
    width: 40%;
}

.goTo{
    width: 60%;
    display: flex;
    justify-content: space-around;
}
.companyName{
    font-family: 'AvengersFont';
    font-weight: 200;
    color: white;
    font-size: xx-large;
    border-bottom: 5px solid black;
}
.darkName{
    color: white;
    border-bottom: 5px dashed gray;

}
.LinkContainer{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    
}
.link:hover{
    color: black;
    font-weight: 600;
    background-color: white;
}
.links{
    display: flex;
justify-content: space-around;
    gap: 2px;
}
.links > a{
    padding: 3px 2px;
}
@media (max-width:500px) {
    .root{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .company{
        width: 100%;
    }
    .companyDescription{
        width: 100%;
        padding: 10px 15px 10px 2px;
    }
    .goTo{
        width: 100%;
    }
    
    .links{
        gap: 4px;
    }
}