.root{
    min-height: 90vh;
    display: flex;
    gap: 14px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    width: 100%;
    background-color: var(--main-background);
    margin-top: 55px;
}

.darkRoot{
    background-color: #181818;
}

.form{

    margin-top: 20px;
    color: white;
    padding: 15px 25px;
    background-color: var(--main-cardbackground);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    clip-path: circle(10% at 0% 0%);
    transition: clip-path 3s linear;
    clip-path: stroke-box;
    border-radius: 10px;
    width: 30rem;
}




.formGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.formGroup > h1{
    text-align: center;
    margin-bottom: 30px;
}
.formGroup > label{
    text-transform: capitalize;
    font-weight: 600;
}

.formGroup input{
    width: 80%;
    border: none;
    height: 40px;
    padding: 0 0 0 15px;
    color: white;
    border: 0.5px solid white;
    border-radius: 5px;
    background: none;
    outline: none;
    box-sizing: border-box;
   
}
.formGroup input:focus{
    border: 2px solid white;
}



.passwordLabel{
    position: relative;
    width: 200px;
}
.passwordLabel::before{
    content: "Password";
    position: absolute;
    top: -65px;
    left: -65px;
    color: white;
    z-index: 1;
    padding: 0 10px;
    box-sizing: border-box;
    transition: 0.3s ease;
    background-color: var(--main-cardbackground);
}

.emailLabel{
    position: relative;
    width: 200px;
}
.emailLabel::before{
    content: "Email";
    position: absolute;
    top: -65px;
    left: -65px;
    color: white;
    z-index: 1;
    padding: 0 10px;
    box-sizing: border-box;
    transition: 0.3s ease;
    background-color: var(--main-cardbackground);
}
 
.usernamelabel{
    position: relative;
    width: 200px;
}
.usernamelabel::before{
    content: "Username";
    position: absolute;
    top: -65px;
    left: -65px;
    color: white;
    z-index: 1;
    padding: 0 10px;
    box-sizing: border-box;
    transition: 0.3s ease;
    background-color: var(--main-cardbackground);
}




.formGroup > a{
    padding: 0px 0px;
    color: white;
    text-decoration: underline;
}
.formGroup > button{
    float: left;
    border: 1px solid #D80032;
    border-radius: 1px;
    padding: 8px 20px;
    background: linear-gradient(180deg, #EF233C 0, #D80032 100%);
    position: relative;
    overflow: hidden;
    color: white;
    border-radius: 10px;
    max-height: max-content;
    transition: all linear 0.5s;
}

.formGroup > button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.formGroup > button::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(120deg,
        rgba(255, 255, 255, 0) 30%,
        rgba(255, 255, 255, .8),
        rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -100px;
    animation: shine 3s infinite linear;
}
@keyframes shine {
    0% {
      left: -100px;
    }
  
    20% {
      left: 100%;
    }
  
    100% {
      left: 100%;
    }
  }

.navD{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.navD > button{
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    gap: 3px;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid white;
    border-radius: 2px;
}

.navD > button:hover{
    cursor: pointer;
}

.navD > button > img{
    width: 25px;
}

.navD > a{
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    border-radius: 10px;
    color: white;
    background-color: black;
    padding: 8px 12px;
    box-shadow: 1px 1px 4px black;
}

/* .emailFormGroup{
    flex-direction: row;
    gap: 0;
    border-radius: 5px;
}
.emailFormGroup > input{
    width: 75%;
}
.emailFormGroup > button{
    height: 35px;
    width: 25%;
    padding: 4px;
    border-radius: 0;
} */


@media (max-width: 600px) {

    .form{
        width: 20rem;
    }
    .formGroup > input{
        width: 95%;
    }
    .emailLabel::before, .usernamelabel::before, .passwordLabel::before{
        left: -20px;

    }
    
}