.root {
    display: flex;
    justify-content: center;
    min-height: 90vh;
    gap: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #212121;

}
.dark{
    background-color: black;
    color: white;
}

.backLinksC {
    margin-top: 80px;
    width: 15rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.backLinksC>a {
    background-color: white;
    width: 80%;
    box-sizing: border-box;
    display: inline-block;
    font-weight: 500;
    margin-left: 5px;
    background-color: #f2f2f2;
    color: black;
    /* text-decoration: underline; */
    border: none;
    border-radius: 10px;
    padding: 6px 10px;
    margin-right: 5px;
    font-size: 18px;
    transition: all .3s linear;
}
.backLinksCDark > a{
    color: white;
    border-color: black;
    background: linear-gradient(to right, #290c43, #300090);
}

.backLinksC>a:hover {
    text-decoration: underline;
}

.parent {
    margin-top: 80px;
    box-sizing: border-box;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
    margin-top: 60px;
    width: 70rem;
    color: white;
    background-color: #1a1a1a;
}
.parent.darkp{
    background-color: rgb(15, 15, 15);
}

/* width */
.parent::-webkit-scrollbar {
    height: 100%;
    width: 7px;
}

/* Track */
.parent::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
.parent::-webkit-scrollbar-thumb {
    background: red;
}

/* Handle on hover */
.parent::-webkit-scrollbar-thumb:hover {
    background: gray;
}

.suggestionparent {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    width: 20rem;
    background: inherit;
    height: fit-content;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: black;
}

.title {
    font-family: "Ubuntu", sans-serif;
    text-align: left;
    padding: 5px;
    font-size: 38px;
}

.metap {
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    padding: 5px;
}

.metaInfo {
    width: 100%;
}

.author,
.category {
    color: rgb(111, 111, 111);
}
.darkAuthor{
    color: rgb(200, 190, 190);
}

.blogimage {
    display: flex;
    margin: 30px auto;
    min-height: 200px;
    width: 100%;
    object-fit: contain;
}

.content {
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
    white-space: pre-line;
    line-height: 25px;
    font-size: 18px;
    object-fit: contain;
    padding: 4px 5px 8px 25px;
    margin-left: 10px;
}
.content li{
    line-height: 27px;
    font-size: 18px;
}
.content h2{
    font-family: "Ubuntu", sans-serif;
   font-size: 700;
   /* text-shadow: 1px 1px 1px blue; */

   width: fit-content;
   color: white;
   border-bottom: 2px solid rgb(220, 63, 20) ;
   padding: 8px;
}
.content h3{
    font-family: "Ubuntu", sans-serif;
   font-size: 700;
   text-decoration: underline;
   /* text-shadow: 1px 1px 1px blue; */
   width: fit-content;
   padding: 4px;
   font-weight: 500;
   border-radius: 10px;
}

.subimage {
    width: 450px;
}

.rContainer {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sphead {
    box-sizing: border-box;
    width: fit-content;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 6px;
    margin-left: 12px;
}
.sphead.darkSpHead{
    background-color: rgb(220, 63, 20) ;
}



.commentSection{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.viewComments{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}


.uploadNewC{
    margin: 12px;
    display: flex;
    flex-direction: column;
  
}
.formGroup{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.labelComment{
    position: relative;
}
.labelComment::before{
    content: "Comment";
    position: absolute;
    top: -28px;
    left: 22px;
    color: rgb(220, 63, 20);
    z-index: 1;
    padding: 5px 8px;
    box-sizing: border-box;
    transition: 0.3s ease;
    border-radius: 6px;
    border: 1px solid rgb(220, 63, 20);
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: black;
}

.commentTextArea{
    outline: none;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    border-radius: 6px;
    color: white;
    background-color: black;
    border: 1px solid orangered;
}
.formGroup > textarea::placeholder{
    color: white;
}
.formGroup > button{
    width: max-content;
    height: max-content;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    background-color: rgb(220, 63, 20) ;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    transition: transform .2s linear;

}
.formGroup > button:hover{
    cursor: pointer;
    transform: scale(.95);
    opacity: .9;
}
.tagContainer{
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
}

@media (max-width: 580px) {
    .blogimage {
        min-height: 200px;
        padding: none;
        border-radius: 6px;
        margin: 10px auto;
        
    }

    .content {
        margin-top: 40px;
        line-height: 26px;
        font-size: 18px;
        padding: 3px 10px 5px 2px;
        margin-left: 25px;
    }
    .content li{
        line-height: 25px;
        font-size: 17px;
    }

    .title {
        font-size: x-large;
    }

    .subimage {
        width: 300px;
    }

    .root {
        flex-direction: column;
    }

    .parent {
        height: auto;
        margin-top: 80px;
        overflow-y: none;
        width: 100%;
    }

    .suggestionparent {
        margin-top: 0;
        width: 100%;
    }

    .backLinksC {
        
        flex-direction: row;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        gap: 5px;
    
    }
    .backLinksC > a{
        font-size: 14px;
    }

    .backLinksC::-webkit-scrollbar {
        width: 0;
    }
}
@media (min-width: 580px) and (max-width: 1080px) {
    .blogimage {
        min-height: 100px;
        width: 85%;
        border-radius: 6px;
        margin: 10px auto;
    }

    .content {
        margin-top: 60px;
        line-height: 26px;
        font-size: 18px;
        padding: 3px 10px 5px 2px;
        margin-left: 25px;
    }
    .content li{
        line-height: 25px;
        font-size: 17px;
    }

    .title {
        font-size: x-large;
    }

    .root {
        flex-direction: column;
    }

    .parent {
        height: auto;
        margin-top: 80px;
        overflow-y: none;
        width: 100%;
    }

    .suggestionparent {
        display: contents;
        margin: 0 auto;
        margin-top: 0;
        width: 70rem;
    }

    .backLinksC {
        
        flex-direction: row;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        gap: 5px;
    
    }
    .backLinksC > a{
        font-size: 14px;
    }

    .backLinksC::-webkit-scrollbar {
        width: 0;
    }
}



/* Responsive Iframe Styles */