.parent{
    min-height: 100vh;
    background: #181818;
}

.searchContainer{
    justify-content: center;
display: flex;

}

.searchInput{
    margin-top: 100px;
    width: 50rem;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid red;
    padding: 10px 15px;
    outline: 0;
    color: white;
    font-size: 20px;
    caret-color: red;
}

.blogContainer{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;

}