.parent{
    min-height: 100vh;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.darkParent{
    background: #181818;

}

.searchContainer{
    justify-content: center;
display: flex;

}


.searchInput{
    margin-top: 100px;
    width: 50rem;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid red;
    padding: 15px 25px;
    outline: 0;
    color: black;
    font-size: 18px;
    caret-color: red;
    height: 50px;
    box-shadow: 2px 2px 4px orangered;
}
.darkSearchInput{
    background-color: black;
    color: white;
}
.darkSearchInput::placeholder{
    color: orangered;
}


.blogContainer{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 60%;

}


@media (max-width: 500px) {

    .searchInput{
        width: 22rem;
    }
    
}